<%= form_with(model: pipeline, local: true) do |form| %>
  <% if pipeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>
      <ul>
        <% pipeline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <strong><%= form.label :name %></strong>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <strong><%= form.label :repo %></strong>
    <%= form.text_field :repo %>
  </div>
  <div class="field">
    <strong><%= form.label :triggers %></strong>
    <br />
    <small>Write one branch name on each line.  Pipeline will automatically run on the specified branches when they are committed to.</small>
    <br />
    <%= form.text_area :triggers %>
  </div>
  <div class="field">
    <strong><%= form.label :domain %></strong>
    <br />
    <small>Secrets with the same <code>domain</code> will be automatically injected as build arguments and environment variables.</small>
    <br />
    <%= form.text_field :domain %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
