<%= form_with(model: pipeline, local: true) do |form| %>
  <% if pipeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>

      <ul>
        <% pipeline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_area :script %>
  </div>

  <div class="field">
    <%= form.label :repo %>
    <%= form.text_field :repo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
