<%= form_with(model: pipeline, local: true) do |form| %>
  <% if pipeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>

      <ul>
        <% pipeline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :repo %>
    <%= form.text_field :repo %>
  </div>

  <div class="field">
    <%= form.label :triggers %>
    <small>Write one branch name on each line; it will be auto-run when a new commit is made.</small>
    <br />
    <%= form.text_area :triggers %>
  </div>

  <div class="field">
    <%= form.label :domain %>
    <small>Secrets will injected into Docker build and run for this domain.</small>
    <br />
    <%= form.text_field :domain %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
