<p id="notice"><%= notice %></p>

<h1>Pipelines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pipelines.each do |pipeline| %>
      <tr>
        <td><%= pipeline.name %></td>
        <td><%= link_to 'Show', pipeline %></td>
        <td><%= link_to 'Edit', edit_pipeline_path(pipeline) %></td>
        <td><%= link_to 'Destroy', pipeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Run', run_pipeline_path(pipeline) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>TODO</h4>
<ul>
  <li>Use Dockerfile instead</li>
  <li>Clone the repo</li>
  <li>Create job model</li>
  <li>On run, create job, open it, run in background, refresh job</li>
</ul>

<br>

<%= link_to 'New Pipeline', new_pipeline_path %>
