<p id="notice"><%= notice %></p>
<p>
  <strong>Running:</strong>
  <%= @pipeline.name %>
</p>
<p>
  <textarea>
    <%= @output %>
  </textarea>
</p>
<%= link_to 'Edit', edit_pipeline_path(@pipeline) %> |
<%= link_to 'Back', pipelines_path %>
