<p id="notice"><%= notice %></p>

<h1><%= @pipeline.name %> <%= link_to '⚙️', edit_pipeline_path(@pipeline) %></h1>
<h3><code><%= @pipeline.domain %></code></h3>
<p>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Started</th>
        <th>Status</th>
        <th>Git SHA</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @pipeline.runs.order(num: :desc).each do |run| %>
        <tr>
          <td><strong><%= run.num %></strong></td>
          <td><%= time_ago_in_words(run.created_at) %> ago</td>
          <td><%= run.status %></td>
          <td><code><%= run.commit_sha_short %></code></td>
          <td><%= link_to 'Show', "/pipelines/#{@pipeline.id}/runs/#{run.id}", class: 'link-button' %></td>
          <td><%= link_to 'Destroy', "/pipelines/#{@pipeline.id}/runs/#{run.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<p>
  <% @pipeline.branches.each do |branch| %>
    <a href="<%= run_pipeline_path(@pipeline, branch: branch) %>" class="link-button"><i class="fa fa-play"></i> <%= branch %></a>
  <% end %>
</p>
<%= link_to 'Back to Pipelines', pipelines_path %>
