<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pipeline.name %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @pipeline.repo %>
</p>

<p>
  <strong>Triggers:</strong>
  <%= @pipeline.triggers %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @pipeline.domain %>
</p>

<p>
  <strong>Runs:</strong>
  <br />
  <% @pipeline.runs.each do |run| %>
    <%= link_to "/pipelines/#{@pipeline.id}/runs/#{run.id}" do %>
      <strong>#<%= run.id %></strong>
      <%= run.created_at %> 
      (<i><%= run.status %></i>)
    <% end %>
    <br />
  <% end %>
  </p>

<%= link_to 'Run', run_pipeline_path(@pipeline) %> |
<%= link_to 'Edit', edit_pipeline_path(@pipeline) %> |
<%= link_to 'Back to Pipelines', pipelines_path %>
