<%= form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br />
    <small>Must be an environment variable; for example: <code>SOME_SECRET</code>.</small>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.password_field :value %>
  </div>

  <div class="field">
    <%= form.label :domain %>
    <br />
    <small>Secrets with the same <code>domain</code> as the Pipeline will be injected as <em>both</em> a build argument and an environment variable.  Secrets with the domain <code>global</code> will be injected into <em>every</em> Pipeline.</small>
    <%= form.text_field :domain %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
