<p id="notice"><%= notice %></p>
<h1>Secrets</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @secrets.each do |secret| %>
    <tr>
      <td><b><code><%= secret.name %></code></b></td>
      <td><code><%= secret.domain %></code></td>
      <td>
        <%= link_to 'Edit', edit_secret_path(secret), class: 'link-button' %>
      </td>
      <td>
        <%= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-button' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Secret', new_secret_path, class: 'link-button' %>
</p>
<%= link_to 'Back to Pipelines', pipelines_path %>
