<meta http-equiv="Refresh" content="300">

<p id="notice"><%= notice %></p>

<p>
  <strong>Pipeline:</strong>
  <%= @pipeline.name %>
</p>

<p>
  <strong>Num:</strong>
  #<%= @run.num %>
</p>

<p>
  <strong>Competed At:</strong>
  <%= @run.completed_at || 'Hasn\'t Completed' %>
</p>

<p>
  <strong>Failed At:</strong>
  <%= @run.failed_at || 'Hasn\'t Failed' %>
</p>

<p>
  <strong>Output:</strong>
</p>
<pre>
<%== @run.output %>
</pre>

<%= link_to 'Back to Pipeline', pipeline_path(@pipeline) %>
