<p id="notice"><%= notice %></p>
<h1><%= @pipeline.name %> <span class="text-muted">#<%= @run.num %></span></h1>
<h3><%= @run.status %></h3>
<p>
  Triggered by <code><%= @run.commit_sha_short %></code> on <code><%= @run.branch %></code> to <code><%= @run.commit_message %></code>.
</p>
<details id="details" onclick="javascript:toggleRefresh()">
  <summary>View Details...</summary>
  <p>
    <strong>Competed At</strong>: <%= @run.completed_at || 'Hasn\'t Completed' %>
  </p>
  <p>
    <strong>Failed At</strong>: <%= @run.failed_at || 'Hasn\'t Failed' %>
  </p>
  <p>
    <strong>Duration</strong>: <%= @run.pretty_duration || 'Hasn\'t Completed' %>
  </p>
  <p>
    <strong>Triggered By</strong>: <%= @run.triggered_by %>
  </p>
  <p>
    <strong>Work Directory</strong>:
  </p>
  <code><%= @run.work_directory %></code>
</details>
<p>
  <input type="checkbox" name="refresh" id="refresh" checked="">
  <label for="refresh">Auto-Refresh</label>
</p>
<pre id="output">
<%= @run.output %>
</pre>
<%= link_to 'Back to Pipeline', pipeline_path(@pipeline) %>
<script type="text/javascript">
  var refresh = document.getElementById('refresh');
  if (<%= !@run.completed_at.nil? || !@run.failed_at.nil? %>) {
    refresh.disabled = true;
  }

  refresh.checked = <%= @run.in_progress? %>;

  function toggleRefresh() {
    setTimeout(function() {
      var refresh = document.getElementById('refresh');
      var details = document.getElementById('details');
      refresh.checked = details.hasAttribute('open') ? false : !refresh.checked;
    }, 5);
  }

  // Attribution: https://stackoverflow.com/a/48234990
  var reloadWithTurbolinks = (function () {
    var scrollPosition;
    var focusId;

    function reload() {
      Turbolinks.visit(window.location.toString(), {action: 'replace'})
    }

    document.addEventListener('turbolinks:before-render', function () {
      scrollPosition = [window.scrollX, window.scrollY];
      focusId = document.activeElement.id;
    });
    document.addEventListener('turbolinks:load', function () {
      if (scrollPosition) {
        window.scrollTo.apply(window, scrollPosition);
        scrollPosition = null
      }
      if (focusId) {
        document.getElementById(focusId).focus();
        focusId = null;
      }
    });
    return reload;
  })();

  var interval = setInterval(function(){
    var refreshCheckbox = document.getElementById('refresh');
    if (!refreshCheckbox) {
      clearInterval(interval);
      return;
    }

    if (refreshCheckbox.checked) {
      reloadWithTurbolinks();
    }
  }, 1500);
</script>
