<p id="notice"><%= notice %></p>

<p>
  <strong>Pipeline:</strong>
  <%= @pipeline.name %>
</p>

<p>
  <strong>Num:</strong>
  #<%= @run.num %>
</p>

<p>
  <strong>Triggered By:</strong>
  <%= @run.triggered_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @run.status %>
</p>

<p>
  <strong>Competed At:</strong>
  <%= @run.completed_at || 'Hasn\'t Completed' %>
</p>

<p>
  <strong>Failed At:</strong>
  <%= @run.failed_at || 'Hasn\'t Failed' %>
</p>

<p>
  <strong>Git Branch:</strong>
  <%= @run.branch %>
</p>

<p>
  <strong>Git Commit:</strong>
  <%= @run.commit_sha || 'Hasn\'t Cloned' %>
</p>
<pre>
<%= @run.commit_message || 'Hasn\'t Cloned'%>
</pre>

<p>
  <strong>Output:</strong>
</p>
<pre>
<%== @run.output %>
</pre>

<p>
  <strong>Work Directory:</strong>
</p>

<pre><%= @run.work_directory %></pre>

<%= link_to 'Back to Pipeline', pipeline_path(@pipeline) %>

<script type="text/javascript">
  setTimeout(function(){
    window.location.reload(1);
  }, 5000);
</script>